.tamanoAnimal{
  width: 300px;
  height: 300px;
  margin:0;
}
.animal{
  display: inline-block;
  margin: 10px;
  width: 30%;
}
.containerFotos{
  text-align: center;
}
.title1{
  text-align: center;
}
.mini{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 60px;
  color: blue;
}
.containerSelect{
  text-align: center;
  margin-bottom: 10px;
}
.filtros{
  list-style: none;
}
#select{
  background: #1cc1ec;
  color: #fff;
  font-size: 15px;
}
.negative-colors{
  filter: invert(.8);
  -ms-filter: invert(.8);
  -moz-filter: invert(.8);
  -o-filter: invert(.8);
  -webkit-filter: invert(.8);
}
.sepia{
  filter: sepia(1);
  -ms-filter: sepia(1);
  -moz-filter: sepia(1);
  -o-filter: sepia(1);
  -webkit-filter: sepia(1);
}
.white-black{
  filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
